[submodule "external/WpfDesigner"]
	path = external/WpfDesigner
	url = https://github.com/lextudio/WpfDesigner
	branch = vscode
[submodule "external/wxsg"]
	path = external/wxsg
	url = https://github.com/lextudio/wxsg.git
