node_modules/**
src/**
docs/**
.github/**
.claude/**
.vscode/**
.git/**
sample/**
tests/**
test/**
*.log
sharpdbg-*.log
external/**
scripts/**
*.ts
*.map
*.ps1
tsconfig.json
.vscodeignore
.gitignore
.gitmodules
